@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    font-family: "Lato", sans-serif;
    background-color: var(--background);
    overflow-x: hidden;
    color: var(--text);
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

:root {
    --background: #fcfbff;
    --text: #151515;
    --highlight: #ffffff;
    --CTA: #001aff;
    --gray: #cecece;
}

body {
    margin-left: 2em;
    margin-right: 2em;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    color: var(--CTA);
    text-decoration: none;
    font-size: 12px;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
nav {
    position: relative;
    top: 0;
    width: 100%;
    background-color: none;
    height: 64px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

nav ul li:nth-child(1) img {
    width: 30px;
    height: auto;
}

nav ul li:nth-child(2) form div {
    position: relative;
    background: var(--highlight);
    min-width: 350px;
    max-width: 400px;
    height: 40px;
    border: solid 1px #ececec;
    box-shadow: 0px 5px 18px rgba(219, 219, 219, 0.15);
    border-radius: 9px;
    display: flex;
    align-items: center;
}

nav ul li:nth-child(2) form div input[type="text"] {
    background-color: var(--highlight);
    border: none;
    width: 100%;
    padding-left: 25px;
    color: var(--text);
}
nav ul li:nth-child(2) form div input[type="text"]::placeholder {
    color: var(--text);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

nav ul li:nth-child(2) form div button {
    background-color: var(--highlight);
    border: none;
    padding-right: 25px;
}

nav ul li:nth-child(3) button i {
    font-size: 20px;
}

header {
    margin-bottom: 3.5em;
}

header h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1;
    margin-top: 1em;
}

header span {
    display: block;
}

header h1 span {
    color: var(--CTA);
    font-weight: 700;
}

/* loading state */
#loading {
    display: none;
}

#loading.display {
    display: block;
    text-align: center;
    margin-top: 5em;
    opacity: 0.6;
}

#loading.display i {
    font-size: 2.5em;
    animation: spin 1.5s infinite linear;
    color: var(--CTA);
}

#loading.display p {
    margin-top: 1em;
    font-size: 1em;
    color: var(--text);
}

.articleCard {
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid #15151521;
}

.articleCard small {
    opacity: 0.67;
    display: block;
}

.articleCard small i {
    margin-right: 0.5em;
}

.articleCard small:first-of-type {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.articleCard small:last-of-type {
    margin-bottom: 1em;
}

.articleCard img {
    border-radius: 4px;
    box-shadow: 4px 5px 18px rgba(219, 219, 219, 0.15);
}

.articleCard p {
    font-size: 14px;
    opacity: 0.87;
}

.articleCard a span {
    display: block;
    font-weight: bold;
}

#backbtn {
    background-color: #2596be;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    overflow: hidden;
    display: none;
    cursor: pointer;
    position: fixed;
    width: 40px;
    line-height: 40px;
    bottom: 50px;
    right: 0;
}

#backbtn:hover {
    background-color: #ddf;
    color: #000;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#toTopButton {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--CTA);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
    font-size: 14px;
}

#toTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
